<div>
    <div *ngIf="jsonData">
        <h1>Detalles del Tenista</h1>
        <p>Nombre: {{jsonData.nombre}}</p>
        <p>Edad: {{jsonData.edad}}</p>
        <p>Ranking: {{jsonData.ranking}}</p>
        <p>País: {{jsonData.pais}}</p>
        <p>Altura: {{jsonData.altura}}</p>
        <p>Peso: {{jsonData.peso}}</p>
        <p>Titulos: {{jsonData.titulos}}</p>
        <button (click)="modificar(jsonData._id)">Modificar</button>
        <button (click)="eliminarTenista(jsonData._id)" >Eliminar</button>
    </div>
</div>

