<div class = "container_partido">
    <div *ngIf="jsonData">
        <h1 class = "titulo">Partido: {{jsonData._id}}</h1>
        <a [routerLink]="['/tenistas', jsonData.jugador1.id]">Jugador 1: {{jugador1.nombre}}</a> <br>
        <a [routerLink]="['/tenistas', jsonData.jugador2.id]">Jugador 2: {{jugador2.nombre}}</a>
        <p>Ganador: {{jsonData.ganador == jugador1._id ? jugador1.nombre : jugador2.nombre }}</p>
        <p class="titulo_sets"> Sets: </p>
        <ul>
            <li>{{jsonData.sets[0].jugador1Puntaje}} - {{jsonData.sets[0].jugador2Puntaje}}</li>
            <li>{{jsonData.sets[1].jugador1Puntaje}} - {{jsonData.sets[1].jugador2Puntaje}}</li>
            <li>{{jsonData.sets[2].jugador1Puntaje}} - {{jsonData.sets[2].jugador2Puntaje}}</li>
            <li>{{jsonData.sets[3].jugador1Puntaje}} - {{jsonData.sets[3].jugador2Puntaje}}</li>
            <li>{{jsonData.sets[4].jugador1Puntaje}} - {{jsonData.sets[4].jugador2Puntaje}}</li>
        </ul>
        <div class="button_container">
            <button (click)="modificarPartido(jsonData._id)">Modificar</button>
            <button (click)="eliminarPartido(jsonData._id)" >Eliminar</button>
        </div>
    </div>
</div>
