nav{
    height: 20%;
    max-height: 3rem;
    max-width: 100%;
    border-top: .2rem solid greenyellow ;
    border-bottom: .1rem solid black;
    object-fit: contain;
    display: flex;
    align-items: center;
    background-image: url("/assets/img/tablos.jpeg");
}
img{
    max-height: 10%;
    max-width: 5rem;
    object-fit: contain;
}

button{
    all: unset;
    cursor:pointer;
    background-color: lightgreen;
    border-radius: .5rem;
    padding: .5rem;
    margin: 0 1rem;
    transition: 0.3s ease;
}

button:hover{
    background-color: green;
    color: white;
}