<nav>
    <a href=""><img src="./assets/img/logo.png" alt="pelota"></a>
    <button type="button" class="btn btn-primary-outline pull-right" (click)="btnClick('/buscarPartido');">Buscar Partidos</button>
    <button type="button" class="btn btn-primary-outline pull-right" (click)="btnClick('/buscarTenista');">Buscar Tenistas</button>
    <button type="button" class="btn btn-primary-outline pull-right" (click)="btnClick('/editarPartidos');">Agregar Partidos</button>
    <button type="button" class="btn btn-primary-outline pull-right" (click)="btnClick('/editarTenista');">Agregar Tenistas</button>
</nav>
