<form [formGroup]="partidoForm" (ngSubmit)="onSubmit()">
    <input type="number" id="Name" formControlName="id1" name="Jugador 1" placeholder="Jugador 1">  
    <input type="number" id="Name" formControlName="id2" name="Jugador 2" placeholder="Jugador 2">  
    <input type="number" id="Name" formControlName="id3" name="Resultado" placeholder="Resultado">
    <input type="text" id="Set" formControlName="ResJ1Set1" name="Set1" placeholder="ResJ1Set1">  
    <input type="text" id="Set" formControlName="ResJ2Set1" name="Set1" placeholder="ResJ2Set1">
    <input type="text" id="Set" formControlName="ResJ1Set2" name="Set2" placeholder="ResJ1Set2">
    <input type="text" id="Set" formControlName="ResJ2Set2" name="Set2" placeholder="ResJ2Set2">
    <input type="text" id="Set" formControlName="ResJ1Set3" name="Set3" placeholder="ResJ1Set3">
    <input type="text" id="Set" formControlName="ResJ2Set3" name="Set3" placeholder="ResJ2Set3">
    <input type="text" id="Set" formControlName="ResJ1Set4" name="Set4" placeholder="ResJ1Set4">
    <input type="text" id="Set" formControlName="ResJ2Set4" name="Set4" placeholder="ResJ2Set4">
    <input type="text" id="Set" formControlName="ResJ1Set5" name="Set5" placeholder="ResJ1Set5">
    <input type="text" id="Set" formControlName="ResJ2Set5" name="Set5" placeholder="ResJ2Set5">
    <button class="button" type="submit">Agregar</button>
</form>

